# welcome to the ignore file!!

#``Level 5``

# 这个文件默认是隐藏的，
# 但你知道你有一些分支也是不会显示给你的
# 当你检查分支列表时
#
# 你的下一个线索是......
# 哪种抽象数据类型倾向于实现集合和映射？？
# 答案与这些个谜语的答案相同：
#
#   我既是母亲又是父亲。
#   我一直保持不动
#   然而我从不漫游。
#   我从不生育也不哺乳。
#   
#   我是什么？
#
# 之后...  emmm,  你懂的
# 切换到这个分支
*.rem
a.out
